

html {
	height: 100%;
	/* scroll-behavior: smooth; */
	overflow-x: hidden;
	
}

#pixels {
	z-index: 10;
	font-size: 200px;

}

svg {
	font-family: 'mazzardBold';
}

body {
	height: 100%;
	color: #e8e6e6;
	background-color: #2E345B;
	font-family: "mazzardBold", "mazzardLight", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	min-height: 20000px;
}

@font-face {
    font-family: 'mazzardBold';
    src: url('fonts/mazzardh-bold-webfont.eot');
    src: url('fonts/mazzardh-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mazzardh-bold-webfont.woff2') format('woff2'),
         url('fonts/mazzardh-bold-webfont.woff') format('woff'),
         url('fonts/mazzardh-bold-webfont.svg#mazzardh_bold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'mazzardLight';
    src: url('fonts/mazzardh-extralight-webfont.eot');
    src: url('fonts/mazzardh-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mazzardh-extralight-webfont.woff2') format('woff2'),
         url('fonts/mazzardh-extralight-webfont.woff') format('woff'),
         url('fonts/mazzardh-extralight-webfont.svg#mazzardh_extralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'meganschalkboardregular';
    src: url('fonts/meganschalkboardbold-webfont.woff2') format('woff2'),
         url('fonts/meganschalkboardbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h2, h3, h4, h5, h6, p, a {
	font-family: "mazzardLight";
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #2E345B;
}


.progress-container {
	width: 100%;
	height: 8px;
	background: #ccc;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 25;
  }
  
  .progress-bar {
	height: 8px;
	background: #2e345b;
	width: 0%;
  }

.frame {
	/* padding: 3rem 5vw; */
	text-align: center;
	position: relative;
	z-index: 1000;
}




@keyframes rotateStars {
	0%, 100% {
		transform: translateY(0);
	  }
	  50% {
		transform: translateY(-15px);
	  }
	
}

/* entire canvas frame is housed within  */
.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	position: relative;
	align-items: center;
	
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	
	opacity: 0;
	width: 100%;
}

.welcome {
	height: 80%;
	width: 100%;
	left: 0;
	z-index: 12;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
}

.logo {
	width: 350px;
	animation: rotateStars 10s infinite;
}


.stars {
	position: fixed;
	top: 0;
	z-index: 11;
	background-color: #394172;
	animation: rotateStars 5s infinite;
	height: 100vh;
	width: 100%;
}

.starsimg {
	left: -10px;
	
	height: 100vh;
}

.social {
	height: 20%;
	width: 100%;

	z-index: 300;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 20px;
	
}

.socialIcons {
	padding-right: 10px;
	width: 50px;
	animation: pulsate-bck 5s ease-in-out infinite both;
	bottom: 0;
}

.pulsate-bck {
	animation: pulsate-bck 5s ease-in-out infinite both;
}

@keyframes pulsate-bck {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(0.9);
	}
	100% {
	  transform: scale(1);
	}
  }
  

.desk {
	z-index: -1;
	transform: translateY(20%);
	max-width: 2750%;
	min-width: 90%;
	position: fixed;
	
}

.doorway {
	z-index: 1;
	transform: translateY(10%);
	min-width: 100%;
	position: fixed;
}


.downArrow{
	z-index: 12;
	bottom: 5%;
	right: 2%;
	position: fixed;
}

.spinny { 
	position: fixed;
	transform: translateY(-100%);
	z-index: 7;
	width: 0px;
	max-width: 40px;
	opacity: 0;
	
}

.on { 
		
	position: fixed;
	max-width: 970%;
	z-index: 8;
	height: 150%;
	opacity:0;
}

.wallpaper {
	z-index: 9;
	height: 100%;
	position: fixed;
	opacity: 0;
	animation: rotateStars 20s infinite;
}


.dock {
	position: fixed; 
	bottom: 9px;
	width: 80%;
	height: 160px;
	z-index: 300;
	background: linear-gradient(180deg, #00000000 50%, #2e345b 50%);
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
	border-radius: 5px;
	vertical-align: bottom;
	opacity: 0;
	max-width: 1000px;
}



.dockIcons {
	height: 60px;
	padding-top: 90px;
	padding-right: 22px;
	object-position: center;
	z-index: 19;
	opacity: 1;

	
}


.desktopFiles {
	z-index: 30; 
	position: fixed; 
	height: 90px;
	animation: pulsate-bck 10s ease-in-out infinite both;
	opacity: 0;
}



#spotify {
	z-index: 300; 
	position: fixed;
	padding: 10px;
	left: 10%;
	bottom: 10%;
	background-color: #2c2c2c;
	display: none;
	
}

.notifContainer {
	
	top: 50px;
	z-index: 125; 
	position: fixed; 
	width: 400px; 
	right: 0;
	
}

.notifs {
	padding-left: 100%;
	width: 400px;
	
}

.slide-in-right {
	animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right {
	0% {
	  transform: translateX(1000px);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
  }
  
  #icon2 {left: 14%; top: 25%;  } /* baja */
  #icon3 {left: 34%; top: 22%;} /* brut */
  #icon8 {left: 40%; top: 33%;} /* renu */
  #icon15 {left: 40%; top: 12%;} /* killanilla */
  
  #icon4 {left: 75%; top: 20%;} /* civico */
  #icon6 {left: 62%; top: 31%;}  /* menu */
  
  #icon10 {left: 15%; top: 45%;}  /* selfport */
  
  #icon11 {left: 40%; top: 47%;} /* summmitplan */
  #icon13 {left: 70%; top: 48%;}  /* wordpress */
  #icon14 {left: 65%; top: 58%;}  /*  world hashtag*/



.slide-fwd-center {
	-webkit-animation: slide-fwd-center 5s ease-in-out infinite alternate-reverse both;
	        animation: slide-fwd-center 5s ease-in-out infinite alternate-reverse both;
}

 @-webkit-keyframes slide-fwd-center {
	0% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	}
	100% {
	  -webkit-transform: translateZ(160px);
			  transform: translateZ(160px);
	}
  }
  @keyframes slide-fwd-center {
	0% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	}
	100% {
	  -webkit-transform: translateZ(160px);
			  transform: translateZ(160px);
	}

  }
  

#finderIcon {animation: bounce 2s 6;}
#tab0 {
	background-color: #ededed;
	color: #2c2c2c;
}

.finder {
	width: 450px;
	height: 500px;
	background-image: url("../src/finder.svg");
	background-size: 100% 100%;
	bottom: 30%;
	left: 5%;
	position: fixed;
	opacity: 1;
	z-index: 299;
	display: none;
	
}

#finderLinks {
	padding-top: 130px;
	padding-left: 40px;
	text-decoration: none;
	line-height: 26.5px;
}

.finder a {
	text-decoration: none;
	font-size: 12px;
	color: #ccc;
}

.finder a:hover {
	color: #2E345B;
}

#finderFolders figcaption {
	font-size: 12px;
}

.indesign {
	background-image: url("../src/indesign4.svg");
	background-repeat: no-repeat;
	border: 2px solid #384173;
	border-radius: 4px 4px 4px 4px; 
	max-width: 1200px;
	width: 90%;
	height: 70%;
	position: fixed; 
	z-index: 100;
	opacity: 0;

	vertical-align: middle;
}





.inDesignToolBar {
	width: 100%;
	transform: translate(1%, -80%);
	
}

.grid {
	background-image: url("../src/grid.svg");
	background-repeat: no-repeat;
	position: fixed;
	padding: 40px;
	overflow: scroll;
	z-index: 200;
	width: 70%;
	height: 50%;
	color: #2c2c2c;
	opacity: 0;
	max-width: 1000px;
	display: inline-block;
}

.activeCase {
	width: 100%;

}

.secleft {
	width: 35%;
	padding-right: 5%;
	padding-left: 20px;
	float: left;
}

.secleft p {
	font-size: 13px;
}

.secleft h1 {
	font-size: 36px;
	line-height: 34px;
}

.secright {
	min-width: 300px;
	width: 55%;
	padding-top: 30px;
	float: right;
	
	
	
}

.seccenter {
	
	width: 100%;
	float: left;
	padding-top: 100px;
	
	overflow: scroll;
    white-space:nowrap;
}

.photogrid {
	width: 100%;
	float: left;
	padding-top: 100px;
	


}

.seccenter .slide {
	display: inline-block;
	padding-right: 10px;
}

.seccenter .slide img {
	width: 80%;
	
	
}
.caseimg {
	
	width: 100%;
	animation: heartbeat 90s ease-in-out infinite both;
	
}


.caseimg:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


  .photorow {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .photocolumn {
	-ms-flex: 32%; /* IE10 */
	flex: 32%;
	max-width: 32%;
	padding: 0 4px;
  }
  
  .photocolumn img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }


.tabBar {
	position: absolute;
	bottom: 0;
	left: 50px;
	display: inline-flex;
	float: left;
	overflow: visible;
	white-space: nowrap;
	width: 100%;
	
}

.tabBar button {
	background-color: #384173;
	border: none;
	color: #ededed;
	font-size: 13px;
	display: inline;
	z-index: 200;
	padding: 10px;
	margin-right: 5px;
	overflow: scroll;
	
	
}

.tabBar button:hover {
	background-color: #ededed;
	color: #2c2c2c;
}

.tabBar a {
	text-decoration: none;
}

#mailWindow {
	z-index: 200; 
	position: fixed; 
	background-image: url("../src/emailWindow.svg");
	height: 100%;
	width: 80%;
	top: 20%;
	background-size: 500px, 650px;
	background-repeat: no-repeat;
	display: none;
}

#mailto {
	font-size: 12px;
	
	transform: translate(65px, -22px);
	line-height: 19px;
	width: 80%;
}

#emailField {
	font-size: 14px; 
	padding-left: 20px;
	padding-right: 20px;
	max-width: 450px;
}

.socialEmail img {
	width: 30px;
	padding-right: 10px;
	
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-elliptic-top-fwd {
	0% {
	  -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
			  transform: translateY(-600px) rotateX(-30deg) scale(0);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0) rotateX(0) scale(1);
			  transform: translateY(0) rotateX(0) scale(1);
	  -webkit-transform-origin: 50% 1400px;
			  transform-origin: 50% 1400px;
	  opacity: 1;
	}
  }
  @keyframes slide-in-elliptic-top-fwd {
	0% {
	  -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
			  transform: translateY(-600px) rotateX(-30deg) scale(0);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0) rotateX(0) scale(1);
			  transform: translateY(0) rotateX(0) scale(1);
	  -webkit-transform-origin: 50% 1400px;
			  transform-origin: 50% 1400px;
	  opacity: 1;
	}
  }

  .heartbeat {
	-webkit-animation: heartbeat 15s ease-in-out infinite both;
	        animation: heartbeat 15s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-27 13:33:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
	from {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: center center;
			  transform-origin: center center;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: scale(0.91);
			  transform: scale(0.91);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: scale(0.98);
			  transform: scale(0.98);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: scale(0.87);
			  transform: scale(0.87);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  @keyframes heartbeat {
	from {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: center center;
			  transform-origin: center center;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: scale(0.91);
			  transform: scale(0.91);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: scale(0.98);
			  transform: scale(0.98);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: scale(0.87);
			  transform: scale(0.87);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  

.toolbar {
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 300;
	width: 100%;
	background-color: #2e345b;
	height: 45px;
	opacity: 0;
  }

  .toolLeft {
	  float: left;
  }

  .toolRight {
	  float: right;
	  padding-right: 15px;
	  padding-top: 15px;

  }

  nav {
	display: block;
	text-align: left;
	opacity: 1;
	font-size: 14px;
	transform: translateY(-20px);
	
  }
  
  /* first submenu settings */
  nav ul {
	list-style: none;
	left: 0;
	padding-left: 15px;
	color: #e8e8e8;
	border: solid rgba(44, 44, 44, 0.3) 2px;
	
  }
  
  /* main menu options */
  .nav > li {
	float: left;
	padding-left: 5px;
	padding-right: 10px;
  }

  .nav a{
	  color: #e8e8e8;
	  text-decoration: none;
  }

  a:hover{
	cursor:alias;

  }
  
  /* sub menu */
  .nav ul {
	position: absolute;
	white-space: nowrap;
	left: -99999em;
	background-color: rgba(47, 53, 89, 0.92);
	padding-right: 20px;
	padding-left: 20px;
	transform: translateX(-20px) translateY(-5px);
	line-height: 10px;
	
  }
  
  /* sub sub menu */
  .nav ul ul {
	transform: translateY(-48px);
	position: absolute;
	background-color: rgba(47, 53, 89, 0.92);
	border: solid rgba(44, 44, 44, 0.3) 2px;
  }
  
  /* sub sub menu hover */
  .nav > li:hover > ul {
	left: auto;
	top: relative;
  }
  
  .nav > li li:hover > ul {
	left: 100%;
  }

  .bold {
	  font-family: "mazzardBold";
	  font-size: 15px;
	  transform: translateY(-3px);
  }

  



.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@media only screen and (max-width: 768px) {
	
	.html {
		overflow: none;
	}

	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2rem 2.25rem;
		pointer-events: none;
		grid-template-columns: 25% 50% 25%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title title ... '
							'... ... ...'
							'github demos links';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0;
	}
	.frame__github {
		grid-area: github;
		justify-self: start;
		margin: 0;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: center;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.header__title {
		font-size: 7vw;
		letter-spacing: 0.5vw;
	}
	.heading {
		line-height: 1.2;
		font-size: 2.5vw;
	}

	#time {
		display: none;
	}

	#updatedProgress {
		display: none;
	}

	.secleft {
		width: 100%;
	}
	.secright {
		width: 100%;
		padding-top: 30px;
		
	}

	.tabBar {
		overflow-x: clip;
		white-space: nowrap;
	}
	.photocolumn {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	  }

	

}
