/* article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
} */



html {
	height: 100%;
	cursor: url('src/cursor.svg'), auto;
	overflow-x: hidden;
}

#pixels {
	z-index: 10;
	font-size: 200px;

}

body {
	height: 100%;
	color: #e8e6e6;
	background-color: #2E345B;
	font-family: "mazzardBold", "mazzardLight", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	min-height: 20000px;
}

@font-face {
    font-family: 'mazzardBold';
    src: url('fonts/mazzardh-bold-webfont.eot');
    src: url('fonts/mazzardh-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mazzardh-bold-webfont.woff2') format('woff2'),
         url('fonts/mazzardh-bold-webfont.woff') format('woff'),
         url('fonts/mazzardh-bold-webfont.svg#mazzardh_bold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'mazzardLight';
    src: url('fonts/mazzardh-extralight-webfont.eot');
    src: url('fonts/mazzardh-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mazzardh-extralight-webfont.woff2') format('woff2'),
         url('fonts/mazzardh-extralight-webfont.woff') format('woff'),
         url('fonts/mazzardh-extralight-webfont.svg#mazzardh_extralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'meganschalkboardregular';
    src: url('fonts/meganschalkboardbold-webfont.woff2') format('woff2'),
         url('fonts/meganschalkboardbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h2, h3, h4, h5, h6, p, a {
	font-family: "mazzardLight";
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #2E345B;
}


.progress-container {
	width: 100%;
	height: 8px;
	background: #ccc;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 25;
  }
  
  .progress-bar {
	height: 8px;
	background: #2e345b;
	width: 0%;
  }

.frame {
	/* padding: 3rem 5vw; */
	text-align: center;
	position: relative;
	z-index: 1000;
}


.black {
	z-index: 11;
	width: 1000%;
	opacity: 1;
	position: fixed;
	top: 0;
}

.stars {
	width: 100%;
	z-index: 11;
	animation: rotateStars 5s infinite;
}

@keyframes rotateStars {
	0%, 100% {
		transform: translateY(0);
	  }
	  50% {
		transform: translateY(-15px);
	  }
	
}

/* entire canvas frame is housed within  */
.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	position: relative;
	align-items: center;
	
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	will-change: width;
	opacity: 0;
	width: 100%;
}

.logo {
	z-index: 12;
	width: 40%;
	position: absolute;
	top: 20%;
	/* animation: bounce 10s infinite; */
	animation: rotateStars 10s infinite;

}

.social {
	z-index: 12;
	display: flex;
	transform: translateY(2000px);
	justify-items: center;
}

.socialIcons {
	padding-right: 10px;
	width: 50px;
}

.desk {
	z-index: -1;
	transform: translateY(18%);
	min-width: 100%;
	position: fixed;
}

.doorway {
	z-index: 1;
	min-width: 100%;
	transform: translateY(10%);
	position: fixed;
}


.downArrow{
	z-index: 12;
	bottom: 3%;
	right: 2%;
	position: fixed;
}

.spinny { 
	position: fixed;
	transform: translateY(-100%);
	z-index: 10;
	width: 3%;
	opacity: 0;
}

.on { 
	cursor: url('src/cursor.svg'), auto;		
	position: fixed;
	max-width: 970%;
	z-index: 8;
	height: 150%;
	opacity:0;
}

.wallpaper {
	z-index: 10;
	height: 100%;
	position: fixed;
	opacity: 0;
	animation: rotateStars 20s infinite;
}



.dock {
	position: fixed; 
	bottom: 0%;
	width: 80%;
	height: 160px;
	z-index: 13;
	background: linear-gradient(180deg, #00000000 50%, #2e345b 50%);
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
	border-radius: 5px;
	vertical-align: bottom;
	opacity: 0;
}



.dockIcons {
	height: 60px;
	padding-top: 90px;
	padding-right: 22px;
	object-position: center;
	z-index: 19;
	

	
}

.dockBounce:hover {
	animation: bounce 2s infinite;
	
}


.toolbar {
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 13;
	width: 100%;
	background-color: #2e345b;
	
	height: 45px;
	opacity: 1;
  }

  .toolLeft {
	  float: left;
  }

  .toolRight {
	  float: right;
	  padding-right: 15px;
	  padding-top: 15px;

  }

  nav {
	display: block;
	text-align: left;
	opacity: 1;
	font-size: 14px;
	transform: translateY(-20px);
	
  }
  
  /* first submenu settings */
  nav ul {
	list-style: none;
	left: 0;
	padding-left: 15px;
	color: #e8e8e8;
	border: solid rgba(44, 44, 44, 0.3) 2px;
	
  }
  
  /* main menu options */
  .nav > li {
	float: left;
	padding-left: 5px;
	padding-right: 10px;
  }

  .nav a{
	  color: #e8e8e8;
	  text-decoration: none;
  }

  .nav a:hover{
	cursor:alias;

  }
  
  /* sub menu */
  .nav ul {
	position: absolute;
	white-space: nowrap;
	left: -99999em;
	background-color: rgba(47, 53, 89, 0.75);
	padding-right: 20px;
	padding-left: 20px;
	transform: translateX(-20px) translateY(-5px);
	line-height: 10px;
	
  }
  
  /* sub sub menu */
  .nav ul ul {
	transform: translateY(-48px);
	position: absolute;
	background-color: rgba(47, 53, 89, 0.70);
	border: solid rgba(44, 44, 44, 0.3) 2px;
  }
  
  /* sub sub menu hover */
  .nav > li:hover > ul {
	left: auto;
	top: relative;
  }
  
  .nav > li li:hover > ul {
	left: 100%;
  }

  .bold {
	  font-family: "mazzardBold";
	  font-size: 15px;
	  transform: translateY(-3px);
  }
  





.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


@media screen and (max-width: 600px) {
	
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2rem 2.25rem;
		pointer-events: none;
		grid-template-columns: 25% 50% 25%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title title ... '
							'... ... ...'
							'github demos links';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0;
	}
	.frame__github {
		grid-area: github;
		justify-self: start;
		margin: 0;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: center;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.header__title {
		font-size: 7vw;
		letter-spacing: 0.5vw;
	}
	.heading {
		line-height: 1.2;
		font-size: 2.5vw;
	}

	#toolIcons {
		display: none;
	}

	.spinny { 
		width: 30px;
	}
	
}
