@import url("https://p.typekit.net/p.css?s=1&k=rkj0ohr&ht=tk&f=25163&a=12755813&app=typekit&e=css");

@font-face {
font-family:"fatfrank";
src:url("https://use.typekit.net/af/746d18/000000000000000000017190/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/746d18/000000000000000000017190/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/746d18/000000000000000000017190/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:400;
}

.tk-fatfrank { font-family: "fatfrank",sans-serif; }



body {
	overflow-x: hidden;
    overflow-y: scroll;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif, normal; 
  font-family: 'fatfrank', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
	
}
/* 
html, body {
  width: 100%; 
  height: 100%; 
  margin: 0; 
}

canvas {
  width: 100vw; 
  height: 100vh; 
  display: block;
} */

h1 {font-family: 'fatfrank', sans-serif, bold; font-size: 2rem; }
h2 {font-family: 'Poppins', sans-serif, normal; font-size: 1.33rem; }
h3 {font-family: 'Poppins', sans-serif, normal; font-size: 1rem; font-weight: 400;}
h5 {font-family: 'Poppins', sans-serif, thin; font-size: 0.66rem; font-weight: 300; padding-left: 10px; padding-right: 10px;}
h6 {font-family: 'Poppins', sans-serif, normal; font-weight: 300; font-size: 0.66rem; }
p {font-family: 'Poppins', sans-serif, normal; font-size: 1rem; line-height: 1.25rem;}

em {font-family: 'Poppins', sans-serif, italic;}
b {font-family: 'Poppins', sans-serif, 400;}
a {color: white; text-decoration: none;}
a:hover {color: #9aa4bd;}


#viewport {width: 100%; height: 100%; position: fixed;}

.page-wrapper {padding: 0px; position: absolute; left: 0; top: 0; width: 100%; height: 4000vh;}
#container {height: 4000vh; position: fixed;}
.downArrow{z-index: 12; bottom: 1%; right: 50%; height: 3%; position: fixed;}

.social_banner {width: 15%; max-width: 175px; left: 0px; position: absolute; bottom: 0px; padding-bottom: 9%; z-index: 20;}
 #social_banners {display: none;} 
.social_banner:hover {transform: rotate(5deg); cursor: pointer;}
.social_banner_small {position: absolute; width: 12%; max-width: 125px; left: 0px; padding-bottom: 10%; bottom: 5%;}
.social_banner_small:hover {transform: rotate(5deg); cursor: pointer; }


.shortcut_banner {width: 15%; max-width: 175px; right: -2px; top: 5%; position: absolute;}
.shortcut_banner_small {width: 12%; max-width: 125px; position: fixed; right: 0; top: 0;}
#shortcut_banners {display: none;}
.shortcut_banner_small:hover {transform: rotate(5deg); cursor: pointer;}
.shortcut_banner:hover {transform: rotate(5deg); cursor: pointer;}

.headerOverview {
	background-color: #2E345B;
	background-image: url("../src/splash+contexts/stars_wallpaper.svg");
	background-size: contain;
	background-repeat: repeat-y;
    height: 100%;
    width: 100%;
	opacity: 1;
	display: flex;
	justify-content: center;
    align-items: center;
	position: fixed;
	z-index: 20;

}

/* max-width: 215px */
.logo { width: 25%; max-width: 225px; animation: rotateStars 15s infinite; position: absolute; z-index: 3; padding-right: 10px;}

.entry_moto {max-width: 650px; width: 90%; animation: rotateStars 15s infinite;  position: absolute;}
#spinnyBox { display: flex; justify-content: center; align-items: center; padding-top: 50vh;} 
.spinny {position: fixed; z-index: 7; max-width: 40px; opacity: 0;}
.moto { position: fixed; opacity: 0; top: 0; width: 100%; align-self: center; z-index: 10;}


.login {
	 width: 100%; 
	 height: 100%;
	 position: fixed;
	 top: 0;
	 display: flex;
	justify-content: center;
	align-items: center;
	
	
}

#profile_wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%; 
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.profile {
	width: 0%;
	max-width: 300px;
	position: absolute;
	padding-top: 25px;
	opacity: 1;
	z-index: 10;
}

.profile_description {
	width: 50%;
	opacity:1;
	padding-top: 80px;
	

}





#splash_pages {display: flex; justify-content: center; align-items: center; position: fixed; height: 100%; width: 100%; content: contain; }
.splash_page_wrapper {display: flex; justify-content: center; align-items: center; max-height: 80%;}
#splash_context_text {width: 100%;  max-height: 75%; position: absolute;}
.splash_img {width: 85%; max-height: 45%; margin-top: 2%; opacity: 1; position: absolute;}
.loading_scroller { border: 1px solid #2E345B; opacity: 50%; left: 20%; bottom: 20%; z-index: 200; background: #ededed; height: 10px; max-width: 68%; width: 0%; position: absolute;}


.desktop {background-image: url("../src/desktop_items/wallpaper.svg"); background-size: cover; background-color: #47578a; background-repeat: no-repeat; top: 50px;  width: 100%; height: 100%; position: fixed; z-index: 0;}

.desktopToolbar {width: 100%; background: #2c2c2c; height: 50px; top: 0; color: #f4f4f4; z-index: 100000; opacity: 0; }
.desktop_toolbar_left {opacity: 0;}

.toolbar_hide, .toolbar_design_elixir {font-family: 'Poppins', sans-serif, normal; font-size: 1rem; line-height: 3rem; padding-right: 10px;}


.dock_container {display: flex; justify-content: center; align-items: center; z-index: 100; opacity: 0;}

.dock {bottom: 0; height: 100px; background-color: #2e345b; position: fixed; z-index: 200;}
.dock img {height: 70px; padding: 15px; opacity: 1;}
.dock img:hover {transform: rotate(5deg);}

.tooltip {position: relative; display: inline-block;}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #c7ccde;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {content: ""; position: absolute; top: 100%; left: 50%;}
.tooltip:hover .tooltiptext {visibility: visible; opacity: 1;}

button {background-color: #00000000; border: none;}
button:hover {cursor: pointer;}

.desktop_toolbar {width: 100%; top: 0; background-color: #2c2c2c; height: 50px; color: white; display: inline-block; overflow: hidden; position: fixed;}
.desktop_toolbar p {display: inline-block; padding-left: 15px; }
#desktop_toolbar_left { float: left; width: 65%; padding-right: 10px; }
#desktop_toolbar_right {float:right; padding-right: 20px; padding-top: 5px; }
#desktop_toolbar_right img {height: 16px; padding-right: 5px; padding-top: 5px;}
.desktop_toolbar button {color: white; font-size: 14px; } 
.desktop_toolbar a {color: white;}

.window {background-color: #9aa4bd;  position: fixed; border:  #3A4172 1px solid; border-radius: 4px 4px 4px 4px; top: 10%; left: calc((100% - 1100px)/2);}
.window_closebar {height: 30px; width: 100%; top: 0; cursor: move; background-color: #49588b; color: #f4f4f4; display: inline-block; border-bottom: #3A4172 1px solid; text-align: center; position: sticky; z-index: 20;}
.window_closebar p {display: inline-block;  position: relative;bottom: 8px;}
.close_btn {top: 5px; height: 20px; left: 10px; float: left; position: absolute;}


#about_window {top: 5%; left: 20%;}
#about_window_content { width: 60vw; max-width: 700px; max-height: 925px; overflow-x: hidden; overflow-y: hidden; contain: content; }
div.scroll {
  max-width: 700px;
  background: url('../src/desktop_items/grid.svg') no-repeat;
  background-size: cover;
  white-space: nowrap;
  overflow-y: scroll;
  padding-bottom: 30px;
  
}

#scroller_container {scroll-behavior: smooth;}

div.scroll div {
  display: inline-block;
  align-items: top;
justify-content: center;
position: relative;
  
  
}



.about_slide img {max-width: 100%; padding-bottom: 10px;}
.scroll * {color: black;}
.blu {border-left: 10px solid #3a4172; padding-left: 20px; }

.about_slide {max-width: 600px; position: relative; top: 0;  top: 0px;  white-space:normal; padding: 50px; }

.about_window_mission {margin: 20px; padding: 50px;background: #f4f4f4;  max-height: 500px;}
.about_window h1 {font-weight: 100; }



#contact_window {top: 10%; left: 50%;}
#contact_window_content {top: 40%;height: 550px; width: 400px; }
#contact_window_content p {padding-left: 5%; padding-right: 5%;}
#contact_window_sendbar button {bottom: 20px; position: absolute; background: #49588b; width: 100px; height: 30px; float: right; right: 20px;}
#contact_window_content img {height: 80px; padding-left: 20px; }
#contact_window_content img:hover {transform: rotate(5deg); cursor: pointer;}
.mail_button {background: #2f335c; font-family: 'Poppins', sans-serif; padding: 10px; margin-left: 55%;}

#notification {right: 0px; z-index: 20; width: 500px; top: 53px; position: fixed; display: none; animation: slide-in-fwd-center .4s cubic-bezier(.25,.46,.45,.94) both;}     

#terminal_window {height: 400px; width: 80vw; max-width: 650px; background-color: #3A4172; top: 30%; }
.done {display: block !important;}
.terminal {padding-top: 20px;}
#terminal_text p {display: none; font-family:'Courier New', Courier, monospace; color: white; padding-left: 2%;}
.line {white-space: nowrap; overflow: hidden; transform: translateY(-50%); animation: typing 2.5s steps(30, end); display: block !important;}

#finder_window {width: 90%; height: 80%; max-height: 700px; max-width: 90%; contain: content;  }
#finder_window_col1 {float: left; background: #3A4172; color: white;  width: 250px; height:100%; padding-left: 10px;  overflow: auto;}
#finder_window_col1 p {color: lightgray;} 
#finder_window_col1 p:hover {color: white; cursor: pointer;}
#finder_window_col2 {float: right; width: calc(100% - 260px); }
#finder_window_col2 > * {padding-left: 8%;}
#finder_window_col2_recents img {height: 15%; padding: 5%;}
#finder_window_col2_recents img:hover {transform: rotate(5deg); }

.hide { display: none;}

.sticky {width: 300px; height: 300px; background: #9aa4bd; position: absolute; z-index: 20; text-align: center; display: flex; justify-content: center; align-items: center; }

#testimonial_window1 {top: 45%; left: 50%; background-image: url("../src/desktop_items/quotes1.svg"); background-size: 100% 75%; background-position: 0% 60%; background-repeat: no-repeat;}
#testimonial_window2 { top: 50%; left: 55%; background-image: url("../src/desktop_items/quotes2.svg"); background-size: 90% 75%; background-position: 5% 50%; background-repeat: no-repeat;}
#testimonial_window3 { top: 55%; left: 60%; background-image: url("../src/desktop_items/quotes3.svg"); background-size: 100% 75%; background-position: 0% 60%; background-repeat: no-repeat;}
.sticky h5{padding-left: 30px; padding-right: 30px;  padding-top: 10%; } 
#sticky_button {background: #3A4172; color: white; }
#sticky_button button:hover {background:white; color: #3A4172;}

.case {width: 90%; max-width: 1100px; height: 75%; background-image: url('../src/desktop_items/_simple.svg'); background-color: #ececec; background-size: contain; overflow: auto;}



.artboard{height: 100%; padding: 50px; }
.artboard_center {width: 100%; padding-top: 50px;}
.blu {border-left: 10px solid #3a4172; padding-left: 20px; }
.artboard h2 {font-size: 24px; font-style: italic; line-height: 30px;  opacity: 0.5; font-weight: 100;}
.artboard h1 {font-size: 42px; }
.artboard_date {font-style: italic; font-size: 20px;}
 .artboard img { box-shadow: 5px 5px 5px grey; margin: 1% 1% 0% 1%;}
.artboard a {color: #2d2d2d;}
.artboard a:hover {color: gray;}
.caption {font-style: italic; opacity: 0.75; margin-left: 1%;}
.artboard_bottom p {text-align: center; padding: 0px 30px 0px 30px} 
.artboard_button {width: 50%; background: #2f335c; border: none; padding: 15px; margin-top: 7%; margin-bottom: 20px;}
.artboard_button {color: white; text-decoration: none; font-family: 'Poppins', sans-serif;}
.artboard_button:hover {background-color: #384272; cursor: pointer;}
.bob_motu img {width: 50%; vertical-align: middle;}

.artboard_column {float: left; width: 100%;  margin-right: 10px;}
.artboard_columnthird, .artboard_columntwothird {float: left; right: 0; width: 100%;}
#vans_hide {display: none;}

@media screen and (min-width: 1200px ) {
  .artboard_columnthird{ width: 30%; }
  .artboard_columntwothird {right: 0; width: 66%;} 
  
  

}

@media screen and (min-width: 1000px) {
  .artboard_response_row {display: -ms-flexbox; /* IE10 */ display: flex; -ms-flex-wrap: wrap; /* IE10 */ flex-wrap: wrap; padding: 0 4px;}
  .artboard_response_column {-ms-flex: 50%; /* IE10 */ flex: 50%; max-width: 50%; padding-right: 1%}
  .artboard_response_column img {margin: 1% 1% 0% 1%; vertical-align: middle; width: 100%;}
  * {
    box-sizing: border-box;
  }
  #vans_hide {display: block;}
   
}

@media screen and (min-width:600px) {
  .container {flex-wrap:nowrap;} 
  
}

/* for large screens */
@media all and (min-width: 800px) { 
    #about_window_content > *{ flex: 1 auto;}  /* We tell both sidebars to share a row */
    .about_links {text-align:center;}
    
    
}   
@keyframes typing {from { width: 0;}to {width: 100%;}}
@-webkit-keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

.fade-out{-webkit-animation:fade-out .25s ease-out both;animation:fade-out .25s ease-out both}
@-webkit-keyframes fade-out{0%{opacity:1}100%{opacity:0}}@keyframes fade-out{0%{opacity:1}100%{opacity:0}}
.fade-in{-webkit-animation:fade-in .25s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in .25s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.desktop_container img {width: 8%;  position: fixed; min-width: 80px; max-width: 120px;}
.desktop_container img:hover {transform: rotate(5deg);}
/* .desktop_icons img:hover {cursor: url("../src/spinny.svg"), crosshair;} */
.desktop_icons button{border: none; box-shadow: none;}

/* animations  */

@keyframes rotateStars {
	0%, 100% {
		transform: translateY(0);
	  }
	  50% {
		transform: translateY(-15px);
	  }
	
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
