body {
    font-family: "mazzardBold", "mazzardLight", sans-serif;
    background-color: #d6d5d8;
    color:  #2c2c2c;
    
}

@font-face {
    font-family: 'mazzardBold';
    src: url('fonts/mazzardh-bold-webfont.eot');
    src: url('fonts/mazzardh-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mazzardh-bold-webfont.woff2') format('woff2'),
         url('fonts/mazzardh-bold-webfont.woff') format('woff'),
         url('fonts/mazzardh-bold-webfont.svg#mazzardh_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mazzardLight';
    src: url('fonts/mazzardh-extralight-webfont.eot');
    src: url('fonts/mazzardh-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mazzardh-extralight-webfont.woff2') format('woff2'),
         url('fonts/mazzardh-extralight-webfont.woff') format('woff'),
         url('fonts/mazzardh-extralight-webfont.svg#mazzardh_extralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

h3, h4, h5, h6, p, a {
    font-family: "mazzardLight";
    color: #2c2c2c;

}

.header {
    padding-bottom: 5%;
}

.bajaPhotos {
    padding-top: 5%;
    
    background-color: #d6d5d8;
    display: inline-flex;
}


.column-left {
    width: 40%;
    
}

.column-right {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

.content {
    padding-left: 10%;
    padding-right: 10%;
}

.row {
    display: inline-flex;
}

.spacer {
    height: 200px;
}


.zoom {
    transition: transform .5s;
    width: 50%;
  }  
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }