body {
	overflow-x: hidden;
    overflow-y: scroll;
	padding: 0;
	margin: 0;
	font-family: "mazzardBold", "mazzardLight", sans-serif;
	
}

@font-face {
    font-family: 'mazzardBold';
    src: url('../fonts/mazzardh-bold-webfont.eot');
    src: url('../fonts/mazzardh-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mazzardh-bold-webfont.woff2') format('woff2'),
         url('../fonts/mazzardh-bold-webfont.woff') format('woff'),
         url('../fonts/mazzardh-bold-webfont.svg#mazzardh_bold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'mazzardLight';
    src: url('../fonts/mazzardh-extralight-webfont.eot');
    src: url('../fonts/mazzardh-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mazzardh-extralight-webfont.woff2') format('woff2'),
         url('../fonts/mazzardh-extralight-webfont.woff') format('woff'),
         url('../fonts/mazzardh-extralight-webfont.svg#mazzardh_extralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

#viewport {
	width: 100%;
	position: fixed;
}

.page-wrapper {
	padding: 0px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	
  height: 4000vh;
}
#container {
	height: 4000vh;
	position: fixed;
}

.progress-container {
	width: 100%;
	height: 8px;
	background: #ccc;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 25;
  }
  
  .progress-bar {
	height: 8px;
	background: #2e345b;
	width: 0%;
  }

.header {
	background-color: #2E345B;
	background-image: url("../src/stars3.svg");
	background-size: cover;
	background-repeat: repeat-y;
	animation: rotateStars 10s infinite;
    height: 180vh;
    width: 100%;
	opacity: 1;
	display: flex;
	justify-content: center;
    align-items: center;
    position: fixed;

}


.logo {
	width: 40%;
	max-width: 450px;
	animation: rotateStars 15s infinite;
    position: absolute; 
    z-index: 3;
    padding-bottom: 90vh;
	
	

}

.social {
	
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
    bottom: 20px;
    padding-top: 10%;
	
}

.socialIcons {
	padding-right: 10px;
	width: 60px;
	bottom: 0;

}

#spinnyBox { 

	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50vh;
}

.spinny {
	position: fixed;
	z-index: 7;
	max-width: 40px;
	opacity: 0;
}

.wallpaper {
	z-index: 9;
	height: 100%;
	top: 0;
	position: fixed;
	opacity: 0;
	
}

#profileBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile { 
	position: fixed;
	opacity: 0;
	width: 100px;
	z-index: 9;
}

h1 {
	width: 300px;
	padding-left: 40px;
	color: white;
}
	

/* 
.social {
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    padding-top: 1%; 
    
    bottom: 50%;
}

.socialIcons {
	padding-right: 10px;
	height: 50px;
	bottom: 0;
} */




/* animations  */

@keyframes rotateStars {
	0%, 100% {
		transform: translateY(0);
	  }
	  50% {
		transform: translateY(-15px);
	  }
	
}
